<form novalidate #myForm="ngForm">
  <kendo-grid
    [data]="gridData | async"
    [reorderable]="true"
    scrollable="none"
    [selectable]="{mode: 'multiple'}"

    [pageable]="true"
    [pageSize]="state.take"
    [(skip)]="state.skip"

    [sortable]="{allowUnsort: true, mode: 'multiple'}"
    [(sort)]="state.sort"

    [filterable]="true"
    [(filter)]="state.filter"

    (dataStateChange)="dataStateChange($event)"
    (edit)="editHandler($event)"
    (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)"
    (remove)="removeHandler($event)"
    (add)="addHandler($event)"
  >
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand type="button">Add new</button>
      <kendo-grid-column-chooser></kendo-grid-column-chooser>
    </ng-template>
    <kendo-grid-checkbox-column></kendo-grid-checkbox-column>
    <kendo-grid-column
      *ngFor="let column of columns"
      field="{{column.field}}"
      title="{{column.title}}"
      format="{{column.format}}"
      filter="{{column.type}}"
      editor="{{column.type}}"
      [hidden]="column.hidden"
    >
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem[column.field]" [name]="column.field" [class]="(column.type !== 'boolean') ? 'k-textbox' : ''" [type]="kendoFiledType2InputType(column.type)" required/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column width="220">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridEditCommand [primary]="true">Edit</button>
        <button kendoGridRemoveCommand>Remove</button>
        <button kendoGridSaveCommand>{{ isNew ? 'Add' : 'Update' }}</button>
        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</form>
