<dx-data-grid
  [dataSource]="gridDataSource"
  [allowColumnReordering]="true"
  [(filterValue)]="filterValue">
>
  <dxo-remote-operations
    [filtering]="true"
    [paging]="true"
    [sorting]="true"
    [summary]="false"
    [grouping]="false"
    [groupPaging]="false"
  ></dxo-remote-operations>

  <dxo-editing
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true"
    mode="row"
  ></dxo-editing>

  <dxo-selection
    mode="multiple"
    [allowSelectAll]="true"
    [deferred]="true">
  </dxo-selection>

  <dxo-filter-row
    [visible]="true"
  ></dxo-filter-row>

  <dxo-filter-panel
    [visible]="true"
  ></dxo-filter-panel>

  <dxo-sorting
    mode="multiple"
  ></dxo-sorting>

  <dxo-paging
    [(pageSize)]="pageSize"
    [(pageIndex)]="pageIndex"
  ></dxo-paging>
  <dxo-pager
    [showInfo]="true"
    infoText="Page {0}/{1} ({2} items)"
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 30, 100, 250, 500]"
    [showNavigationButtons]="true"
  ></dxo-pager>

  <dxi-column
    *ngFor="let column of columns"
    dataField="{{column.dataField}}"
    caption="{{column.caption}}"
    dataType="{{column.dataType}}"
    [visible]="column.visible"
  ></dxi-column>

  <dxo-column-chooser
    [enabled]="true"
    mode="select">
  </dxo-column-chooser>

</dx-data-grid>
