<p-table
  #dataTable
  [value]="employees"
  [columns]="columnsSettings"

  [paginator]="true"
  [rows]="state.rows"
  [rowsPerPageOptions]="[10, 30, 100, 250, 500]"
  [first]="state.first"
  [totalRecords]="totalRecords"

  [lazy]="true"
  (onLazyLoad)="loadEmployeesLazy($event)"
  [loading]="loading"

  [reorderableColumns]="true"

  sortMode="multiple"
  editMode="row"

  selectionMode="multiple"
  [metaKeySelection]="true"
  [(selection)]="selectedEmployees"
  dataKey="id"
>
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <p-button label="Add new" icon="pi pi-plus-circle" iconPos="left" pAddRow [table]="dataTable" [newRow]="newRow()" [disabled]="isAdding" (click)="isAdding = true"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <ng-container *ngFor="let col of columns">
        <th *ngIf="col.visible" pReorderableColumn [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </ng-container>
      <th style="width:8em">Command</th>
    </tr>
    <tr>
      <th></th>
      <ng-container *ngFor="let col of columns">
        <th *ngIf="col.visible">
          <cust-p-splitInput
            [dropdownIcon]="'pi pi-filter'"
            [table]="dataTable"
            [field]="col.field"
            [fieldType]="col.fieldType"
          ></cust-p-splitInput>
        </th>
      </ng-container>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">
    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <ng-container *ngFor="let col of columns">
        <td *ngIf="col.visible">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <ng-container [ngSwitch]="col.fieldType">
                <input *ngSwitchCase="'boolean'" [(ngModel)]="rowData[col.field]" type="checkbox">
                <input *ngSwitchCase="'date'" pInputText type="date" [(ngModel)]="rowData[col.field]" dataformatas="dd.MM.yyyy">
                <input *ngSwitchDefault pInputText [type]="fieldType2InputType(col.fieldType)" [(ngModel)]="rowData[col.field]">
              </ng-container>
            </ng-template>
            <ng-template pTemplate="output">
              <ng-container *ngIf="col.fieldType === 'date'; else other">
                {{rowData[col.field] | date: 'dd.MM.yyyy'}}
              </ng-container>
              <ng-template #other>
                {{rowData[col.field]}}
              </ng-template>
            </ng-template>
          </p-cellEditor>
        </td>
      </ng-container>
      <td style="text-align:center">
        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
        <button *ngIf="!editing" pButton type="button" pSaveEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowDelete(rowData)"></button>
        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri, dataTable)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
