<div #container [ngClass]="{'ui-splitbutton ui-buttonset ui-widget':true,'ui-state-disabled':disabled}"
     [ngStyle]="style"
     [class]="styleClass">
  <ng-container *ngIf="fieldType != 'boolean'">
    <input pInputText [type]="fieldType2InputType(fieldType)"
           (input)="triggerFiltering()" [(ngModel)]="selectedValue1" name="selectedValue1" [ngStyle]="{'width':'80%'}">
  </ng-container>

  <input pInputText [type]="fieldType2InputType(fieldType)" *ngIf="matchMode.operator === 'between'"
         (input)="triggerFiltering()" [(ngModel)]="selectedValue2" name="selectedValue2" [ngStyle]="{'width':'80%'}">
  <button type="button" pButton class="ui-splitbutton-menubutton" [icon]="dropdownIcon"
          [cornerStyleClass]="dir === 'rtl' ? 'ui-corner-left': 'ui-corner-right'"
          (click)="onDropdownButtonClick($event)"
          [disabled]="disabled"></button>

  <div #overlay
       [ngClass]="'ui-menu ui-menu-dynamic ui-widget ui-widget-content ui-corner-all ui-helper-clearfix ui-shadow'"
       *ngIf="overlayVisible"
       [ngStyle]="menuStyle" [class]="menuStyleClass"
       [@overlayAnimation]="{value: 'visible', params: {showTransitionParams: showTransitionOptions, hideTransitionParams: hideTransitionOptions}}"
       (@overlayAnimation.start)="onOverlayAnimationStart($event)">
    <ul class="ui-menu-list ui-helper-reset">
      <ng-template ngFor let-item [ngForOf]="model">
        <li class="ui-menuitem ui-widget ui-corner-all" role="menuitem" *ngIf="item.visible !== false">
          <a class="ui-menuitem-link ui-corner-all"
             [ngClass]="{'ui-state-disabled':item.disabled, 'active':item.label === matchMode.label}" (click)="itemClick($event, item)"
          >
            <span [ngClass]="'ui-menuitem-icon'" [class]="item.icon" *ngIf="item.icon"></span>
            <span class="ui-menuitem-text">{{item.label}}</span>
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</div>
