<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>{{ title }}</h1>
    <ul class="nav nav-pills">
      <li class="nav-item mr-2">
        <a class="nav-link bg-light text-dark" routerLink="/dev-extreme" routerLinkActive="active">
          <img rel="icon" src="https://scontent-prg1-1.xx.fbcdn.net/v/t1.0-9/1450142_10151977020962357_1612690710_n.png?_nc_cat=108&cachebreaker=hd&_nc_oc=AQnYrEJMbY9Uig8D7U0_lMlRh9V0k-wpAj1JQT5Pq11fGpMqCHU_nRTkPKJHSyXJ82s&_nc_ht=scontent-prg1-1.xx&oh=b2f149c03e75237b71c648ecc2cf5e94&oe=5E5B349D" />
          /dev-extreme
        </a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link bg-light text-dark" routerLink="/kendo-ui" routerLinkActive="active">
          <img rel="icon" src="https://scontent-prg1-1.xx.fbcdn.net/v/t1.0-9/29542630_1861514870526461_9089898470640860041_n.png?_nc_cat=103&cachebreaker=hd&_nc_oc=AQk2n0Do0kMuRjol7tt1PItdaYe84jMpEczvwvKvW1jfwrXFztJQq946QlDqXzKIPo4&_nc_ht=scontent-prg1-1.xx&oh=481d160f72ac6a3fec2e6fef7b2aed15&oe=5E17B667" />
          /kendo-ui
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-light text-dark" routerLink="/primeng" routerLinkActive="active">
          <img rel="icon" src="https://camo.githubusercontent.com/98d63aec565cbc02d33bc872d4952ada387df7e2/68747470733a2f2f7777772e7072696d6566616365732e6f72672f77702d636f6e74656e742f75706c6f6164732f323031382f30352f7072696d656e672d736964656261722e737667" />
          /primeng
        </a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
