/* You can add global styles to this file, and also import other style files */
.nav-item {
  img {
    height: 1.5rem;
    margin-right: 0.5rem;
  }
  .nav-link.active {
    background-color: #dae0e5!important;
  }
}
